body {
    background-color: rgb(244, 200, 1);
    margin: 0;
}
header:first-of-type {
    text-align: center;
    font-size: larger;
    color: white;
    text-shadow: 1cm black;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav button {
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: larger;
    border-color: yellow;
}
main {
    background-color: rgb(224, 185, 9);

}
